@font-face {
    font-family: Brusher;
    src: url(Brusher-Regular.ttf);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;

}

body, ul {
    margin: 0;
    padding: 0;
  }

  .blank{
    height:80px;
  }

  .cursive-text{
    font-family: Brusher;
  }

  .home-temp{
    font-size:6rem;
    text-align: center;
  }
  
  /* Navbar styles */
  nav {
    z-index: 5;
    background-color: #fff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: black;
    box-shadow:0 0 10px #0000002b;
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  .container {
    /* max-width: 960px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  section {
    line-height: 2.2rem;
    margin: 2rem;
    width: 100%;
}
  
  .logo {
    color: #000;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid #00000036;
    border-radius:0.3rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    position: relative;
    top: 2rem;
    background: white;
    background-image: url("images/IMG-20220830-WA0010.jpg");
    background-size:cover;
    left: 0.5rem;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .line {
    width: 25px;
    height: 3px;
    background-color: #614141;
    margin-bottom: 5px;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    margin-right: 2rem;
  }
  
  .navbar-menu li {
    margin-left: 40px;
  }


  .navbar-menu li.selected a {
    color:red;
  }
  
  .navbar-menu li a {
    color: #3f3f3f;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
  }
  

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: sticky;
    width: 100%;
    height: 4rem;
  }
  
  .footer-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-menu {
    list-style: none;
    display: flex;
  }
  
  .footer-menu li:not(:last-child) {
    margin-right: 20px;
  }
  
  .footer-menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-menu li a:hover {
    text-decoration: underline;
  }



section.contact-us {
    margin: 0;
    background: url(images/contact.jpg);
    height: calc(100vh - 80px - 6.5rem);
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



.contact-form {
    width: 50%;
    padding: 20px;
    background-color: #f2f2f200;
    max-width: 529px;
  }

.contact-form form {
    text-align: right;
}

  .contact-form h2 {
    margin-bottom: 20px;
    font-family: Brusher;
    font-size: 3rem;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    gap: 1rem;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group textarea {
    height: 150px;
  }
  
  button[type="submit"] {
    background-color: #e53434;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
  }
  
  .address-details {
    width: 50%;
    padding: 20px;
    background-color: #e9e9e900;
  }
  
  .address-details h2 {
    margin-top: 3rem;
  }
  


div#contact-container {
    display: flex;
    width: 63%;
}


section.home-section {
    height: 61vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.firstsection {
  height: calc(119vh - 80px - 6.5rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:relative;
}

.firstsection::before{
  content:"";
  width:100%;
  height:100%;
  top:0;
  left:0;
  position:absolute;
  background-image: url("images/Anandalay-Small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index:-1;
}


.firstsection::after{
  content:"";
  width:100%;
  height:100%;
  top:0;
  left:0;
  position:absolute;
  background:linear-gradient(to bottom, transparent 60%,  rgb(0 0 0 / 81%));

  z-index:0;
}

.fff{
  font-size: 28px;
  color: white;
}
.sss{
  font-family: Brusher;
  color: white;
  font-size: 100px;
  margin-right: auto;
  margin-left: auto;
}
.vv{
  font-family: Brusher;
  color: white;
  font-size: 80px;
}
.vision{
  font-family: Brusher;
  color: rgb(11, 36, 75);
  font-size: 60px;
}
.gg{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  z-index: 1;
}
.first-container {
  position: relative;
  height: 100px;
  width: 360px;
  background-image: url("images/Having-fun-together.jpg");
  background-size: 104% 127%;
  border-radius: 12px;
  transition: 0.3s ease-out all;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
 .first-container:hover{
  scale: 1.08;
}
.second-container:hover{
  scale: 1.08;
}
.first-container::before{
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  content: "Volunteer";
  position: absolute;
  border-radius: 12px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(235, 11, 11, 0.781);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.second-container {
  position: relative;
  height: 100px;
  width: 360px;
  background-image: url("images/donate_header.jpg");
  background-size: 104% 127%;
  background-color: #fff;
  border-radius: 12px;
  transition: 0.3s ease-out all;
}
.second-container::before{
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  content: "Donate";
  position: absolute;
  border-radius: 12px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 26, 235, 0.733);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vision-container{
  margin: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 169px;
  width: 680px;
  background-color: rgb(231, 224, 224);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.covid-firstsection{
  position: relative;
  background-image: url("images/covid.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 80px - 6.5rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.covid-firstsection::before{
  content: "";
  position: absolute;
  background: linear-gradient(358deg, rgb(34, 33, 33), transparent);
}
.covidphototext{
  margin-top: -10%;
  margin-left: 130px;
    font-weight: 900;
    font-size: 3.5rem;
    color: white;
  
}


.blog-section .section-header{
  margin:auto;
  width:fit-content;
  display:flex;
    justify-content:center;
  align-items:center;
  flex-direction:column;
}

.blog-section .section-header > *{
  margin: 0;
}

.blog-section .section-header h1 {
  font-weight:500;
  font-size:1.8rem;
}
.blog-section .section-header p {
  color: #767272;
}

.blog-section .section-header .search-box {
  background:#c7c2c2;
  display:flex;
  height:1.9rem;
  border-radius:50px;
  overflow:hidden;
  outline:1px solid #0000001f;
  margin-top: 1rem;
}
.search-box > *{
  border:none;
  outline:none;
}

.search-box button {
  padding-inline: 1rem;
}

.search-box input {
  padding-left:1rem;
}

.blog-content {
    display: flex;
}



.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 4rem;
  margin-inline: 5rem;
  margin-top:2rem;
  width:70%;
}

.right-section{
  display:flex;
  flex-direction:column;
}
.right-section h4 {
  margin:0;
}
.right-section a {
  text-decoration:none;
  color:#878787;
}

article {
    box-shadow: 0 0 10px #0000001f;
    text-align: center;
    aspect-ratio: 1/2;
    min-width:300px;
}

article h3 {
  color: red;
  font-size:1.9rem;
  font-weight:500;
}

article img {
  width:100%;
  height:300px;
  aspect-ratio: 1;
}

article div.content {
  padding:1rem;
}

article a {
  border:1px solid #00000029;
  width:80%;
  display:inline-block;
  margin-bottom:1rem;
  text-decoration: none;
  border-radius:100px;
  padding-block:0.4rem;
  color:grey;
  font-weight:500;
}

.card-heading{
  font-family: Brusher;
  color: rgb(11, 36, 75);
  font-size: 60px;
}

.card-details{
  color: rgb(11, 36, 75);
  font-size:22px;
}

.impact-card{
  text-align: center;
  position:relative;
}

.impact-card::after{
  content:"";
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:3px; 
  background:#e76c6c;
}

.impact-numbers {
    width: 100%;
    display: flex;
    margin-block:4rem;
}

.impact-number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.impact-number span {
    color:red;
    font-size:60px;
    font-weight:500;
}
.vfirstsection{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 31rem;
  width: 100%;
  position:relative;
  background-image: url("images/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sign{
  font-family:'Poppins',Helvetica,Arial,Lucida,sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: white;
}
.vform{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.vcontainer{
  border:1px solid black;
 height: fit-content;
 width: fit-content;
}

.donate::before{
  content:"";
  width:100%;
  height:31rem;
  top:0;
  left:0;
  position:absolute;
  background-image: url("images/donate_h.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index:-1;
}


.donate::after{
  content:"";
  width:100%;
  height: 31rem;
  top:0;
  left:0;
  position:absolute;
  background:linear-gradient(to bottom, transparent 60%,  rgb(0 0 0 / 81%));
  z-index:0;
}


.first-containerdonate {
  position: relative;
  height: 148px;
  width: 360px;
  background-image: url("images/Corpus-Fund.jpg");
  background-size: 104% 127%;
  border-radius: 12px;
  z-index: 1;
    transition: 0.3s ease-out all;

}
 .first-containerdonate:hover{
  transform: scale(1.08);
}
.second-containerdonate:hover{
  transform: scale(1.08);
}
.first-containerdonate::before{
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  content: "Resident Indian & NRI Donors";
  position: absolute;
  border-radius: 12px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(235, 11, 11, 0.781);
}

.second-containerdonate {
  position: relative;
  height: 148px;
  width: 360px;
  background-image: url("images/Corpus-Fund.jpg");
  background-size: 104% 127%;
  background-color: #fff;
  border-radius: 12px;
  z-index: 1;
  transition: 0.3s ease-out all;
}
.second-containerdonate::before{
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  content: "Foreign Donors";
  position: absolute;
  border-radius: 12px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 26, 235, 0.733);
}
.donationr{
  margin-top: 15%;
  font-family: inherit;
  font-size: 35px;
  color: #0a0b47;
}


.donate {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.donation-card {
    display: flex;
    width: calc(125vw / 3 - 14rem);
    height: 38rem;
    background: #0f2c41;
    color: white;
    flex-direction: column;
}

.donation-card h3{
  font-weight:400;
  font-size:2.8rem;
  text-align:center;
}

.donation-cards-container {
    display: flex;
    gap: 2rem;
    margin-bottom: 5rem;
}

.card-content {
    margin-inline: 3rem;
    display: flex;
    justify-content: center;
}

img.donate-payu {
    width: 135px;
}

a.donate-with-cheque {
    display: flex;
    color: #0a0b47;
    background: white;
    text-decoration: none;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 13px;
}
.vsignup
{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: -7%;
  margin-bottom: 4rem;
  z-index: 1;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  /* width: 80%; */
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.wrapping
{
  display: inline-flex;
  gap: 8rem;

}
.vform
{
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
  width: 75rem;
}
.wrapping-preffered
{
  display: inline-flex;
  gap: 21.5rem;
  /* position: relative; */
  /* left: 2rem; */
}
.wrapping-up
{
  display: inline-flex;
  gap: 14.1rem;
  /* position: relative; */
  /* left: 2rem; */
}


.textbox{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #eeecec;
}


.logo {
  visibility: visible;
}

.logo.hidden {
  visibility: hidden;
}

.frequency-selector, .file-selector{
  position: relative;
  left: 2rem;
}

.gallerytext{
  width: 100%;
  font-family: Brusher;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;

}

.gallery-container {
  max-width: 880px;
  margin: 0 auto;
  padding: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
}


  /* Media query for responsiveness */
  @media screen and (max-width: 768px) {
    .navbar-menu {
      display: none;
      flex-direction: column;
      background-color: #fff;
      padding: 20px;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
    }
  
    .navbar-menu li {
      margin: 10px 0;
    }
  
    .navbar-menu li a {
      color: #000;
    }
  
    .hamburger {
      display: flex;
    }

    .footer-container {
      flex-direction: column;
  }

  .gg {
    flex-direction: column;
  }

  .firstsection .sss {
    margin-left: auto;
    font-size: 5rem;
  }

  .vision-container{
    width:100%;
    margin-inline: 0;
  }

  .impact-numbers{
    flex-direction: column;
    margin: 0;
  }

  .stepupimgcard img {
    width: 100%;
  }

  #contact-container {
    flex-direction: column;
    width: 90% !important;
    align-items: center;
    margin-top: 7rem;
    margin-bottom: 64px;
  }

  .address-details{
    margin: 0;
    width: 100%;
  }

  .address-details h2{
    margin:0;
  }

  .contact-form{
    width:90%;
    margin-top: 6rem;
  }

  .address-details p{
    margin: 0;
  }
}